body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333;
}

header {
  background-color: #111;
  color: #fff;
  padding: 20px;
}
#Btn{
  display: flex;
  font-size: 20px;
  float: right;
  border-radius: 5rem;
  position: absolute;
  top: 1%;
  right:2%;
  
}
#Btn:hover{
  background-color: aquamarine;
  color: black;
}
h1 {
  margin: 0;
  text-align: center;
}
h2 {
  text-align: center;
}

h3 {
  margin: 10px 0;
  color: #fff;
}

#certifications {
  padding: 50px;
}

.certification {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.certification img {
  width: 800px;
  height: 500px;
  object-fit: cover;
}
P{
  font-size: 24px;
  color:aquamarine;
}




footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
